<h2>About Me</h2>
<p>Passionate full stack software engineer with 6+ years of web and enterprise software development expertise. Eager to work with collaborative peers and always try to keep my skills up to bar.</p>
<!--
<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>
-->


<p>For more information, Feel free to drop a note to me at <a href="mailto:alaaelsm@eg.ibm.com">alaaelsm@eg.ibm.com</a> or <a href="mailto:alaa.elsaman@gmail.com">alaa.elsaman@gmail.com</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://www.github.com/alaaelsm">GitHub Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://www.twitter.com/a_elsaman">Twitter</a>
  </li>
</ul>
